@media screen and (min-width: 300px) and (max-width: 500px) {
    header {
        height: 15vh;
    }

    .enver {
        font-size: 20px;
    }

    .menu {
        display: none;
    }

    header > button {
        display: none;
    }

    .firstPage {
        flex-direction: column;
        justify-content: space-around;
        height: 120vh;
    }

    h1 {
        width: 82vw;
        font-size: 40px;
    }

    .firstPage > div > p {
        width: 80vw;
        font-size: 16px;
    }

    .firstPage button {
        width: 60vw;
        height: 7vh;
        border-radius: 1px;
        font-size: 16px;
    }

    .firstPage img {
        width: 90%;
    }

    .secondPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .secondPage div {
        flex-direction: column;
        align-items: center;
    }

    .secondPage h2 {
        width: 85vw;
        font-size: 35px;
    }

    .secondPage p {
        width: 85vw;
        font-size: 16px;
        margin-top: 10px;
    }

    .secondPage > img {
        height: 25vh;
    }

    .thirdPage {
        height: 200vh;
        justify-content: space-evenly;
    }

    .thirdPage > h2 {
        width: 85vw;
        text-align: start;
        font-size: 35px;
    }

    .container {
        width: 85vw;
        max-height: 200vh;
        display: block;
    }

    .container h6 {
        font-size: 24px;
    }

    .container p {
        width: 80vw;
        font-size: 20px
    }

    .fourthPage {
        height: 80vh;
    }

    .fourthPage h2 {
        color: #FFF;
        font-size: 45px;
    }

    .fourthPage div .desktop {
        display: none;
    }

    .fourthPage > div {
        align-items: center;
        justify-content: center;
    }

    .fourthPage div .mobileVer{
        width: 85vw;
    }
    .fourthPage .mobileGal{
        width: 75vw;
    }
    aside {
        height: 50vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    aside h2 {
        width: 80vw;
        font-size: 32px;
    }

    aside button {
        width: 60vw;
    }

    footer {
        height: 60vh;
        flex-direction: column;
    }

    .mobile {
        display: block;
        color: rgba(255, 255, 255, 0.70);
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        text-transform: capitalize;
    }
}